body {
    position: relative;
    width: 1600px;
    height: 4350px;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.head{
    position: absolute;
    width: 1248px;
    height: 754px;
    left: 240px;
    top: 47px;
}

.head__top{
    position: absolute;
    width: 1120px;
    height: 60px;
    left: 240px;
    top: 47px;
}

.head__top_rectangle32{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: 74px;
    background: #9C69E2;
    border-radius: 20px;
}

.head__top_rectangle33{
    position: absolute;
    width: 20px;
    height: 35px;
    left: 269px;
    top: 59px;
    background: #F063B8;
    border-radius: 20px;
}

.head__top_button{
    position: absolute;
    width: 210px;
    height: 60px;
    left: 1150px;
    top: 47px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border:none;
    
}

.head_top_button > p{
    position: absolute;
    width: 112px;
    height: 26px;
    left: 1179px;
    top: 64px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
}

.head__headline{
    position: absolute;
    width: 645px;
    height: 464px;
    left: 240px;
    top: 237px;
}

.head__image{
    position: absolute;
    width: 885px;
    height: 468px;
    left: 603px;
    top: 333px;

}