@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;800&display=swap");

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: -webkit-linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.head {
    height: fit-content;
}

.head__top {
    width: 1120px;
    height: 60px;
    margin: 47px auto 130px;
}

.head__top_logo {
    display: contents;
    position: absolute;
    width: 49px;
    height: 35px;
    left: 240px;
    top: 59px;
}

.head__top_rectangle32 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 240px;
    top: 74px;
    background: #9c69e2;
    border-radius: 20px;
}

.head__top_rectangle33 {
    position: absolute;
    width: 20px;
    height: 35px;
    left: 269px;
    top: 59px;
    background: #f063b8;
    border-radius: 20px;
}

.head__top nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 322px;
    height: 30px;
    left: 410px;
    top: 62px;
}

.head__top nav a {
    font-family: Avenira, Manrope, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-decoration: none;
    color: #212353;
}

.head__top nav a:hover {
    color: #212353;
    font-weight: bold;
    text-decoration: none;
}

.head__top_button {
    cursor:pointer;
    position: absolute;
    width: 210px;
    height: 60px;
    left: 1150px;
    top: 47px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;

    font-family: Avenir, Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.005em;
    color: #212353;
}


.head__top_group57 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 26px;

}

.head__top_button p {
  width: 112px;
  height: 26px;
  left: 1179px;
  top: 64px;
  margin-right:20px;
}

.head__top_group56{
    width: 20px;
    height: 14px;

}

.head__top_vector74{
    width: 20px;
    height: 0px;
    border: 1px solid #9C69E2;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 5px;
}

.head__top_polygon1{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 166px;
    top: 22px;
    border-bottom: 3px solid #9C69E2;
    border-right: 3px solid #9C69E2;
    box-sizing: border-box;
    transform: rotate(315deg);
}


.head__headline {
    position: absolute;
    width: 645px;
    height: 464px;
    left: 240px;
    top: 195px;
}

.head__headline_header {
    margin: auto auto 50px;
    width: 645px;
    height: 184px;
    left: 240px;
    top: 237px;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;

    display: flex;
    align-items: center;
    color: #212353;
    z-index: 1;
}

.head__headline_subcaption {
    width: 380px;
    height: 120px;
    font-family: Avenir, Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4b5d68;
    z-index: 1;
    margin: auto 0px 50px;
}

.head__headline_learnMoreBtn{
    position: absolute;
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head__headline_learnMoreBtn p{
    position: absolute;
    height: 29px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.head__image {
    position: absolute;
    width: 885px;
    height: 468px;
    left: 603px;
    top: 333px;
}


