.footer{
    position: absolute;
    margin-bottom: 90px;
    width: 1600px;
    height: 613px;
    top: 3648px;
}

.footer__border{
    position: absolute;
    width: inherit;
    height:2px;
    background-color: #9C69E2;
    opacity: 0.2;
}

.footer__header{
    position: absolute;
    width: 584px;
    height: 101px;
    left: 240px;
    top: 100px;
}

.footer__header h2{
    position: absolute;
    width: 405px;
    height: 52px;
    margin: auto;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;

    display: flex;
    align-items: center;

    color: #212353;

}

.footer__header p {
    position: absolute;
    width: 584px;
    height: 29px;
    margin:auto;
    bottom:0px;
    font-family: Avenir, Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    color: #4B5D68;

}

.footer__buttons{
    position: absolute;
    width: 410px;
    height: 60px;
    top:121px;
    right:243px;

}

.footer__buttons_learn{
    cursor:pointer;
    position: absolute;
    width: 170px;
    height: 60px;
    background: #F063B8;
    border-radius: 50px;
    border: none;

    font-family: Avenir, Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}


#footer__top_button{
    left: 200px;
    top:0px;
}

.footer__footer{
    position: absolute;
    width: 1085px;
    height: 311.2px;
    bottom: 90px;
    left: 240px;
    top: 250px;
    padding-top: 51px;
}

.footer__logo{
    position: absolute;
    width: 49px;
    height: 35px;

}


.footer__logo_rectangle32 {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom:0px;
    background: #9c69e2;
    border-radius: 20px;
}

.footer__logo_rectangle33 {
    position: absolute;
    width: 20px;
    height: 35px;
    left: 29px;
    background: #f063b8;
    border-radius: 20px;
}


.footer__footer span{
    position: absolute;
    left: 50px;
    width: 153px;
    height: 30px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    margin-left: 20px;
}

#dataWarehouse{
    margin: 5px auto auto;
}

.footer__footer_info{
    position: absolute;
    width: 335px;
    height: 130px;
    left:0px;
    top:148px;
    font-family: Avenir, Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    margin:auto;
    letter-spacing: 0.01em;
    color: #212353;

}

.footer__footer_info_1{
    font-weight: 500;
    margin:auto;
}

.footer__footer_info_2{
    margin: 10px auto auto auto;
}

.footer__footer_about{
    position: absolute;
    width: 166px;
    height: 220px;
    left: 475px;
}

.footer__footer_about_header, .footer__footer_about_text{

    font-family: Avenir, Manrope;
    font-style: normal;
    color: #212353;
    font-size: 16px;
}


.footer__footer_about_header, .footer__footer_help_header, .footer__footer_social_header{
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    margin-top: 5px;
    margin-bottom: 30px;
}

.footer__footer_about_text{
    cursor: pointer;
    width: 166px;
    height: 160px;
    font-weight: normal;
    line-height: 250%;

}

.footer__footer_help{
    position: absolute;
    width: 166px;
    height: 220px;
    left: 691px;
}

.footer__footer_help_header, .footer__footer_help_text, .footer__footer_social_header{

    font-family: Avenir, Manrope;
    font-style: normal;
    color: #212353;
    font-size: 16px;
}

.footer__footer_help_text{
    cursor: pointer;
    width: 166px;
    height: 160px;
    font-weight: normal;
    line-height: 250%;

}

.footer__footer_social{
    position:absolute;
    right: 0px;
    width: 178px;
    height: 110px;
}

.footer__footer_social_header{
    margin-bottom: 30px;
}

.footer__footer_social_icons{
    display: flex;
    justify-content: space-between;
}

.footer__footer_social_fb, .footer__footer_social_twitter, .footer__footer_social_ig{
    width: 50px;
    height: 50px;
    background: #212353;
    opacity: 0.1;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor:pointer;
}

.footer__footer_social_icons div:hover{
    background-color: #9c69e2;
    opacity: 0.8;
}